.main-nav {

    .navbar {

        a {
            color: #000;
        }
    }

    .sub-nav {
        background-color: #fff;
        margin-bottom: 40px;

        a {
            color: $navbar ;
        }
    }
}
